[Unit]
Description=VNC for Raspberry Pi Signage Virtual Display
After=raspi-signage-virtual.service
Requires=raspi-signage-virtual.service
ConditionPathExists={{ raspi_signage_virtual_vnc_password_file }}

[Service]
User={{ raspi_signage_user }}
Group={{ raspi_signage_user }}
Environment=HOME=/home/{{ raspi_signage_user }}
Environment=DISPLAY={{ raspi_signage_virtual_display }}
ExecStart=/usr/bin/x11vnc -display {{ raspi_signage_virtual_display }} -forever -rfbport {{ raspi_signage_virtual_vnc_port }} -rfbauth {{ raspi_signage_virtual_vnc_password_file }}{% if raspi_signage_virtual_vnc_bind_localhost %} -localhost{% endif %} {{ raspi_signage_virtual_vnc_extra_args }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
