[Unit]
Description=Raspberry Pi Signage Kiosk
After=network-online.target systemd-user-sessions.service
Wants=network-online.target
Conflicts=getty@{{ raspi_signage_tty }}.service

[Service]
User={{ raspi_signage_user }}
Group={{ raspi_signage_user }}
Environment=HOME=/home/{{ raspi_signage_user }}
Environment=DISPLAY={{ raspi_signage_display }}
Environment=XAUTHORITY=/home/{{ raspi_signage_user }}/.Xauthority
Environment=XDG_RUNTIME_DIR=/run/{{ raspi_signage_user }}
RuntimeDirectory={{ raspi_signage_user }}
RuntimeDirectoryMode=0700
WorkingDirectory=/home/{{ raspi_signage_user }}
TTYPath=/dev/{{ raspi_signage_tty }}
StandardInput=tty
StandardOutput=journal
StandardError=journal
ExecStart=/usr/bin/startx -- {{ raspi_signage_xorg_args }}
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
