/var/log/fishcity/*.log {
    {{ base_fishcity_logrotate_frequency }}
    rotate {{ base_fishcity_logrotate_keep }}
    missingok
    notifempty
    compress
    delaycompress
    copytruncate
    sharedscripts
    create {{ base_fishcity_logrotate_mode }} {{ base_fishcity_owner }} {{ base_fishcity_group }}
}
