# Managed by Ansible (base role)

Protocol 2
Port {{ base_sshd_port }}
AddressFamily {{ base_sshd_address_family | default('any') }}
{% if base_sshd_listen_addresses is defined and base_sshd_listen_addresses | length > 0 %}
{%   for addr in base_sshd_listen_addresses %}
ListenAddress {{ addr }}
{%   endfor %}
{% else %}
ListenAddress {{ base_sshd_listen_address }}
{% endif %}
Include /etc/ssh/sshd_config.d/*.conf

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

# Ciphers and keying
#RekeyLimit default none

# Logging
#SyslogFacility AUTH
#LogLevel INFO

# Authentication
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes

# Authorization
AllowUsers {{ base_sshd_allow_users | join(' ') }}
AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding no
PrintMotd no
UseDNS no

# Banner
#Banner none

# Accept locale env vars
AcceptEnv LANG LC_*

# Subsystems
Subsystem sftp	/usr/lib/openssh/sftp-server
